@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,input,select,textarea,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration: none;
}
img{
	border:0;
	display:block;
}
html,body{
	height: 100%;
}
header{
	width:100%;
	height:520px;
	background: yellow;
}
.header_top{
	width:100%;
	height:200px;
	background: url("../img/m1.png") no-repeat;
	background-size:100% 200px ;
}
.header_middle{
	width:100%;
	height:320px;
	background: #ffe2cf;
}
.header_middle_1{
	width:355px;
	height:320px;
	background:white;
	margin:0 10px;
}
.header_middle_1_top{
	width:355px;
	height:50px;
	text-align: center;
	line-height: 50px;
}
.header_middle_1_down{
	display: -webkit-flex;
	justify-content: space-around;
}
.header_middle_1_sub{
	margin-left:50px;
	margin-top:18px;
}
.header_middle_1_sub p{
	width:255px;
	height:50px;
	background: #ff5581;
	text-align: center;
	line-height: 50px;
	border-radius: 20px;
}
.header_middle_1_sub a{
	font-size: 14px;
	color:white;
}
section{
	width:100%;
	height:2400px;
	background: #ffe2cf;
	position:relative;
}
.section_top{
	width:100%;
	height:50px;
	text-align: center;
	line-height: 50px;
	}
.section_top h4{
	font-size: 17px;
	color:#824730;
	font-weight: 800;
	}
.section_middle{
	width:100%;
	height:50px;
	background: #fde8e0;
	/* text-align: center;
	line-height: 50px; */
	}
.section_middle ul{
		display: -webkit-flex;
		justify-content: space-around;
		
		}
.section_middle li{
	width:80px;
	height:30px;
	background: white;
	border-radius: 20px;
	 text-align: center;
	line-height: 30px; 
	margin-top: 10px;
	}
.section_middle ul li:nth-child(1){
	background:#d06c6c;
	}
.section_middle ul li:nth-child(1) a{
	color:white;
	}
.section_middle a{
	font-size: 14px;
	color:#bd555f;
	font-weight: 800;
}
.section_down{
	width:100%;
	height:1093px;
}
.section_down_type{
	width:100%;
	height:50px;
	text-align: center;
	line-height: 50px;
	}
.section_down_type h3{
	font-size: 26px;
	color:#c08064;
	font-weight: 800;
	}
.section_down_goods{
	width:100%;
	height:auto;
}
.section_down_goods_one{
	width:100%;
	height:346px;
	/* background: yellow; */
	display: -webkit-flex;
	justify-content: space-around;
	/* margin-top: 10px; */
}
.section_down_goods_one1{
	width:46%;
	height:332px;
	/* background: cyan; */
	
}
.section_down_goods_one1_top{
	width:100%;
	height:231px;
}
.js{
	font-size: 12px;
	color:black;
	white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 margin-top:10px;
	
	}
.price{
	 margin-top:5px;
}
.price span:nth-child(1){
	font-size: 12px;
	color:red;
	border:1px solid red;
}
.price span:nth-child(2){
	font-size: 16px;
	color:black;

}
.price span:nth-child(3){
	font-size: 12px;
	color:#999999;
	text-decoration: line-through;
	margin-left: 34px;
}
.buy{
	width: 165px;
    height: 30px;
    background: #ff5581;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    font-size: 12px;
    color: white;
    margin: 5px;
}
#box{
	display:none;
	position:fixed;
	left:0;
	top:0;
	background: white;
} 